{#<a
	href="{{ path('cogitoweb_database_backup_delete', {pathname: file.pathname}) }}"
	class="btn"
	title="{{ 'list.btn_delete' | trans({}, 'CogitowebDatabaseBackupBundle') }}"
>
	<i class="glyphicon glyphicon-trash"></i>
</a>#}
<button
	type="button"
	class="btn"
	data-toggle="modal"
	data-target="#confirm-delete"
	data-pathname="{{ file.pathname }}"
	data-mtime="{{ file.mtime }}"
	title="{{ 'list.btn_delete' | trans({}, 'CogitowebDatabaseBackupBundle') }}"
>
	<i class="glyphicon glyphicon-trash"></i>
</button>